<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    {{!-- box icon --}}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
    <div class="container-fluid apicontainer">
       
        <div class="apiboxicon">
            <i class='bx bxs-left-arrow-circle bx-fade-left bx-lg  apiboxiconcolor'  color='#f50a0a'></i>
      <h1><a href="/main">Home</a></h1>
       </div>
       <div class="row titlerow">
        <div class="col-md-12 title-col">
           
            <h1>{{title}}</h1>
        
        </div></div> 
<div class="row apirow">
        <div class="col-md-6 apicoldetail1">
             {{#if imageUrl}}
            <img src="{{imageUrl}}" alt="Title Image" class="api-image" >
            {{/if}}

        </div>

        <div class="col-md-6 apicoldetail2">
                <p>{{description}}</p>
            <h2>Detail</h2>
            {{#if location}}
            <p>Location: {{location}}</p>
            {{/if}}
            <div>{{extract}}</div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
